<div id="<%= dom_id recipe %>">
  <h2>
    <%= link_to recipe.title, recipe %>
  </h2>

  <% if recipe.photo.attached? %>
    <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <p>
    <strong>Zutaten:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Zubereitung:</strong>
    <%= recipe.instructions %>
  </p>

  <p>
    <strong>Mag Ich:</strong>
    <%= recipe.votes %>
  </p>

</div>
