<p style="color: green"><%= notice %></p>

<%= link_to "Zurück zu allen Rezepten", recipes_path, class: "btn btn-primary" %>
<%= render @recipe %>

<div>
  <%= link_to "Rezept Bearbeiten", edit_recipe_path(@recipe), class: "btn btn-warning" %> |
  <%= link_to "Rezept Löschen", @recipe, data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }, class: "btn btn-danger" %>
</div>
